@import 'src/assets/scss/animate.scss';
.tabContent {
  @include wh(200px, auto);
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .list {
    position: relative;
    z-index: 100;
    margin-bottom: 10px;
    text-align: center;
    cursor: move;
    border-radius: 10px;
    // padding: 5px 0;
    border: 2px solid hsla(0, 0%, 62%, 0.24);
    img {
      width: 90px;
    }
    p {
      margin: 3px;
      @include style(13px, #33383e);
    }
  }
  .list:hover {
    border: 2px solid #1890ff;
  }
}
.editor {
  position: relative;
  background: #fff;
  margin: auto;
}
.renderComponent {
  @include wh(100%, 100%);
}
.shape {
  position: absolute;

  &:hover {
    cursor: move;
  }
}
.shapeActive {
  outline: 1px solid #2f54eb;
  user-select: none;
}
.shapePoint {
  position: absolute;
  background: #fff;
  border: 1px solid #2f54eb;
  @include wh(8px, 8px);
  border-radius: 50%;
  z-index: 1;
}
.shapeRotate {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  @include style(20px, #2f54eb, 600);
  &:active {
    cursor: grabbing;
  }
}
.grid {
  position: absolute;
  top: 0;
  left: 0;
}
.contextmenu {
  position: absolute;
  z-index: 1000;
  ul {
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 2px rgb(60 64 67 / 15%);
    box-sizing: border-box;
    margin: 5px 0;
    padding: 6px 0;
    li {
      position: relative;
      cursor: pointer;
      padding: 11px 15px 11px 20px;
      display: flex;
      width: 240px;
      @include style(15px, #000000);
      justify-content: space-between;
      .contextmenuHotkey {
        color: #808080;
      }
      &:hover {
        background-color: #f5f7fa;
      }
    }
  }
}
.markLine {
  height: 100%;
  .line {
    background: #59c7f9;
    position: absolute;
    z-index: 1000;
  }
  .xline {
    @include wh(100%, 1px);
  }
  .yline {
    @include wh(1px, 100%);
  }
}
.area {
  border: 1px solid #70c0ff;
  background: #59c7f938;
  position: absolute;
}
.AttrContainer {
  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    h2 {
      @include style(14px, #9da3ac);
    }
  }
}
