@import 'src/assets/scss/animate.scss';
.tabContent {
  @include wh(210px, 100%);
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  .list {
    position: relative;
    z-index: 100;
    margin-bottom: 10px;
    text-align: center;
    cursor: move;
    padding: 5px 0;
    border: 2px solid hsla(0, 0%, 62%, 0.24);
    img {
      width: 95px;
    }
  }
}
.editor {
  position: relative;
  background: #fff;
  margin: auto;
}
.shape {
  position: absolute;

  &:hover {
    cursor: move;
  }
}
.shapeActive {
  outline: 1px solid #2f54eb;
  user-select: none;
}
.shapePoint {
  position: absolute;
  background: #fff;
  border: 1px solid #2f54eb;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 1;
}
.shapeRotate {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  cursor: grab;
  color: #2f54eb;
  font-size: 20px;
  font-weight: 600;

  &:active {
    cursor: grabbing;
  }
}
