.mainBody {
  height: calc(100% - 64px);
  padding: 11px 0;
  display: flex;
  overflow: hidden;
}
// .main {
//   height: calc(100% - 64px);
//   position: relative;
//   padding: 15px 0;
//   display: flex;
//   .center {
//     flex: 1;
//     overflow: auto;
//     padding: 0 10px;
//     @include scroll(5px, 5px);
//     .content {
//       @include wh(100%, 100%);
//       overflow: auto;
//       @include scroll(5px, 5px);
//     }
//   }
//   .right {
//     width: 250px;
//   }
// }
