@import 'src/assets/css/mixin.scss';
.wrap {
  @include wh(100%, 100%);
  .content {
    display: flex;
    height: 100%;
    .sider {
      position: relative;
      @include wh(290px, 100%);
      border-right: 1px solid rgba(184, 174, 174, 0.08);
    }
    .panel {
      height: 100%;
      .toolbar {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #f7f9fb;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      }
    }
    .config {
      box-sizing: border-box;
      height: 100%;
      padding: 0 24px;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
    .close {
      align-items: center;
      background: #fff;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      justify-content: center;
      line-height: 40px;
      position: fixed;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      text-align: center;
      z-index: 0;
      @include wh(41px, 40px);
      box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%),
        -9px 0 28px 0 rgb(0 0 0 / 5%), -12px 0 48px 16px rgb(0 0 0 / 3%);
    }
  }
}
