.header {
  padding: 0 20px;
  @include wh(100%, 64px);
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  h1 {
    @include flexContainer(center);
  }
  .title {
    a {
      display: inline-block;
      @include style(23px, #1890ff, 600);
      img {
        width: 40px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
  .option {
    flex: 1;
    @include flexContainer(center);
    text-align: center;
    .icon {
      @include style(17px, #2f54eb);
      padding: 0 15px;
      cursor: pointer;
    }
  }
  .config {
    box-sizing: border-box;
    height: 100%;
    padding: 0 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }
}
.sliderNav {
  @include wh(100%, 100%);
  overflow: hidden;
}
.main {
  height: 100%;
  position: relative;
  display: flex;
  .left {
    overflow: scroll;
    padding-right: 10px;
    @include scroll(6px, 6px);
    .moreList {
      button {
        margin-bottom: 10px;
        cursor: pointer;
        @include style(14px, #33383e, 500);
        span {
          padding: 0 1px;
        }
      }
    }
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      .title {
        @include style(13px, #33383e, 700);
      }
      .more {
        cursor: pointer;
        @include style(13px, #a0a0a0);
        span {
          padding: 0 1px;
        }
      }
    }
  }
  .center {
    flex: 1;
    overflow: auto;
    margin: 0 10px;
    @include scroll(6px, 6px);
    .content {
      @include wh(100%, 100%);
      overflow: scroll;
      @include scroll(6px, 6px);
    }
  }
  .right {
    position: relative;
    .option {
      @include position(absolute, 10%, auto, auto, -17.5px);
      border-radius: 50%;
      @include wh(35px, 35px);
      background: #fff;
      cursor: pointer;
      border: 1px solid #eeeff1;
      box-shadow: -2px 0 4px 0 rgb(0 0 0 / 10%);
      @include flexContainer(center);
      z-index: 1000;
    }
    .editContainer {
      width: 270px;
      height: calc(100vh - 80px);
      overflow: hidden;
      box-shadow: -2px 0 4px 0 rgb(0 0 0 / 10%);
      transition: all 0.5s;
      padding: 10px 0 0 10px;
      .attr {
        @include style(17px, #000000d9, bold);
      }
    }
    .attrsContainer {
      height: calc(100vh - 160px);
      overflow-y: scroll;
      @include scroll(6px, 6px);
      padding: 0 18px;
    }
  }
}
.containerLayout {
  @include wh(100%, calc(100vh - 80px));
  overflow-y: scroll;
  @include scroll(8px, 8px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
